
#form {
    width: 100%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 5px solid rgb(36, 143, 230);
    background-color: rgb(134, 174, 235);
    box-shadow: 17px 22px 54px #0b5579;
   
}

form{
   font-weight: bold;
}
 a{
   color:navy;
   text-decoration: none;
}


.logo{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: capitalize;
    color: cyan;
    font-size:90px ;
}


