body {
      min-height: 100vh;
      display: flex;
      
    }

    .sidebar {
      width: 200px;
      background-color: #51e2f5;
      color: white;
      min-height: 100vh;
      
    }

    .sidebar a {
      color: #ff1d58;
      display: flex;
      padding: 10px;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: #9df9ef;
      
    }



    /* heading */
    /* search bar */

.head {

  display: flex;
    justify-content:center;
  align-items: center;
  background-color:#51e2f5;
  padding: 4px;
  
}

.icons {
  display: flex;
  justify-content:space-around;
}

.user {
  display: flex;
  flex-direction: column;

}


/* heading */
.search-bar {
position: relative;
max-width: 500px;
margin: 8px auto;
}


.search-bar input {
border-radius: 50px; /* rounded pill shape */
border: 2px solid #0d6efd;
padding: 10px 50px 10px 20px; /* extra right padding for button */
width: 100%;
outline: none;
}


.search-bar button {
position: absolute;
right: 5px;
top: 50%;
transform: translateY(-50%);
border-radius: 50%; /* circular button */
border: none;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}
/* search bar end */
/* end of head and sidebar */





/* end of siderbar and header css */

    /* Popup background */
    .popup {
      display: none; /* hidden by default */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    /* Popup content */
    .popup-content {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    /* Close button */
    .close-btn {
      margin-top: 15px;
      padding: 8px 16px;
      border: none;
      background: red;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

hr{
  
  height: 6px;
  background:blue;
  border-radius: 2px;
}